{{!< default}}
{{#post}}
<div class="mask"></div>
<div class="container">
    <div class="container-main">
        <article class="post-page-main">
            <header>
                <h2>{{title}}</h2>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY h:mm:ss a"}}</time>
            </header>
            <section class="post-page-content">
                {{content}}
            </section>
            <footer>
                <div class="post-page-tags">
                    标签：{{tags prefix=""}}
                </div>
                <div class="post-page-readmore">
                {{#next_post}}
                    <div class="post-page-readmore-prev">
                        <span>上一篇:&nbsp;&nbsp;</span>
                        <a href="{{url}}">{{title}}</a>
                    </div>
                {{/next_post}}
                 {{#prev_post}}
                    <div class="post-page-readmore-next">
                        <span>下一篇:&nbsp;&nbsp;</span>
                        <a href="{{url}}">{{title}}</a>
                    </div>
                {{/prev_post}}
                </div>
                {{> "comments"}}
            </footer>
        </article>
    </div>
</div>
{{/post}}
